<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibra • Gracias por comprar</title>
    <link rel="stylesheet" href="static/styles.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blanquito">
    <header class="flex justify-between items-center py-4 bg-blanquito">
        <div class="flex justify-start ml-20">
            <a href="/"><img class="logo" src="/static/LOGO-VIBRA.png"/></a>
        </div>
        <nav>
            <ul class="header neue-bold naranja">
                <li><a href="/" class="hover:underline">Home</a></li>
                <div>•</div>
                <li><a href="/productos" class="hover:underline">Productos</a></li>
                <div>•</div>
                <li><a href="/carrito" class="hover:underline">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <div class="flex text-center h-screen items-center justify-center">
        <div>
            <div class="new-bold naranja">¡Gracias por tu compra!</div>
            <div class="neue text-2xl">Con tu ayuda, nuestro pequeño negocio puede seguir creciendo.</div>
            <div class="neue naranja text-xl underline mt-2"><a href="/">Volver al inicio</a></div>
        </div>
    </div>
    <footer class="footer">
        <div class="línea"></div>
        <p class="neue mb-12">© 2024 • Carlos Sander</p>
    </footer>    
</body>
</html>