<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Vibra</title>
    <link rel="stylesheet" href="static/styles.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blanquito">
    <header class="flex justify-between items-center py-4">
        <div class="flex justify-start ml-20">
            <a href="/"><img class="logo" src="/static/LOGO-VIBRA.png"/></a>
        </div>
        <nav>
            <ul class="header neue-bold naranja">
                <li><a href="/" class="hover:underline">Home</a></li>
                <div>•</div>
                <li><a href="/productos" class="hover:underline">Productos</a></li>
                <div>•</div>
                <li><a href="/carrito" class="hover:underline">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <div class="landing">
        <div class="max-w-5xl text-center">
            <h1 class="new-normal">Más que discos, <br> vendemos <span class="new-bold italic naranja">emociones</span>.</h1>
            <p class="neue italic text-4xl">Bienvenido a <span class="neue-bold naranja text-4xl">Vibra.</span></p>
            <button class="boton-vibra neue italic"><a href="/productos">Descubre nuestra tienda</a></button>
        </div>
    </div>
    <div class="margin">
        <div class="horizontal-line"></div>
        <img class="florcita" src="static/florcita.png"/>
        <div class="horizontal-line"></div>
    </div>
    <div class="bienvenida neue">
        <div class="text-container">
            <p class="parrafo">
                ¡Saludos melómano! Bienvenido a Vibra, tu santuario musical en el mundo real. En Vibra, no solo vendemos discos, sino que creamos experiencias sonoras que llenarán tu vida de ritmo y emoción.
            </p>
            <p class="parrafo">
                Cada vinilo, cada CD que encuentres en Vibra es más que una compra; es un viaje musical que te lleva a través de emociones y recuerdos.
            </p>
            <p class="parrafo">
                Nuestro espacio está diseñado para que te conectes con la música de una manera auténtica, donde cada visita se convierte en una nueva oportunidad de descubrir joyas sonoras.
            </p>
        </div>
        <img class="vinilo" src="static/Vinilo.png">
    </div>
    <div class="ventas">
        <div class="container mx-auto">
            <span class="neue text-5xl">Contamos con <br></span>
            <span class="new-bold italic">Discos * Vinilos * Casettes * Merch</span>
        </div>
    </div>
    <div>
        <div class="reseña-container">
            <div class="reseña-item">
                <p class="nombres">Julián Araujo</p>
                <p class="reseña new-normal">
                    “En Vibra, la calidad y el servicio son inigualables. Descubrí una experiencia musical única con una cuidada selección de discos y un equipo apasionado que fue más allá de mis expectativas. Definitivamente volveré a comprar discos con ellos.”
                </p>
            </div>
            <div class="reseña-item">
                <p class="nombres">Giselle Almeida</p>
                <p class="reseña new-normal">
                    “Aquí, mi experiencia musical se expandió más allá de los discos. Vibra se ha convertido en mi refugio musical, donde encuentro más que discos: descubro una vibración única en cada rincón. Es la mejor tienda musical de todo el Paraguay.”
                </p>
            </div>
            <div class="reseña-item">
                <p class="nombres">Carolina Álravez</p>
                <p class="reseña new-normal">
                    "El equipo va más allá de las expectativas, brindando recomendaciones expertas y creando un ambiente donde la música cobra vida. No solo he comprado discos, he descubierto joyas sonoras y vivido emociones intensas en cada visita."
                </p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="línea"></div>
        <p class="neue mb-12">© 2024 • Carlos Sander</p>
    </footer>
</body>
</html>